.div{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.main-div{
    padding: 2%;
   
}

.movie-photo{
    width: 350px;
    height: 500px;

}
.movie-player{
    width: 800px;
    height: 500px;
    background-color: black;
}

.article{
 
   background-color: rgb(39, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    margin: 40px;
}



.comments{
     background-color: rgb(39, 34, 34);
     padding: 1%;
}

.title{
    font-size: 40px;
}

@media only screen and (max-width : 970px) {

    .main-div{
        display: flex;
        flex-direction: column;
    }

    .div{
        flex-direction: column;
        align-items: center;
    }
    .movie-photo{
        width: 90%;
        
    }

    .movie-player{
        width: 100%;
    }
    
.article{
    width: 90%;
    padding: 0;
}
}